@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

.bg-light {
  background-color: #c2c5aaab;
}
a {
  text-decoration: none;
}

.color-brown {
  color: #582f0e;
}

.border-bottom {
  border-bottom: 3px solid #333d29;
  margin-bottom: 30px;
}
.margin-left {
  margin-left: 20px;
}

header {
  
  height: 60px;
  background-color: #582f0e;
  margin-bottom: 0;
  width: 100%;
}

.container h2 {

  display: inline-block;
  padding: 13px;
}

.container h2 a {
  color: #c2c5aa;
  text-transform: uppercase;
}

.container h2:hover a{
  color: white;
  transition: 0.3s;
}

.container ul {
  float: right;
  list-style: none;
  
}

.container ul li {
  display: inline-block;
  padding: 17px;
}

.container ul li a{
  font-size: 16px;
  color: #c2c5aa;
}

.container ul li:hover a{
  color: white;
  transition: 0.3s;
}

.container {
  width: 90%;
  margin: 0px auto;
  /* border: 1px solid; */
  padding: 5px;
  margin-bottom: 30px;
}

.bar {
  width: 80%;
  border: 1px solid #582f0e;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0 auto 20px auto;
}

.bar .nilai {
  height: 25px;
  background-color: #656d4a;
  display: inline-block;
  text-align: center;
  align-items: center;
  padding: 5px;
  color: #b6ad90;
}

.nilai-85 {
  width: 85%;
}
.nilai-75 {
  width: 75%;
}
.nilai-60 {
  width: 60%;
}
.nilai-40 {
  width: 40%;
}


.sidebar {
  position: fixed;
  top: 0;
  left: -300px;
  width: 250px;
  background-color: #311600ef;
  height: 100vh;
  transition: .3s;
  z-index: 9999;
}

.sidebar ul {
  margin-top: 40px;
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  color: #c2c5aa;
  padding: 24px;
  display: block;
}

.sidebar ul li:hover {
  background-color: #333d29;
  transition: .3s;
  transition-property: background-color;
}

.sidebar ul li:hover a {
  color: white;
  transition: 0.3s;
  
}

.sidebar span {
  color: #c2c5aa;
  float: right;
  padding: 10px;
  cursor: pointer;
}

.sidebar span:hover {
  color: white;
  font-size: 18px;
}

.banner {
  height: 600px;
  background-color: #656d4a;
  margin-bottom: 50px;
}

.banner .container img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 1px 4px 4px #a4ac86;
  margin: 50px 0 0 50px;
  
}

.banner .container h1 {
  color: #fefefe;
  margin: 50px 0 0 50px;
  font-size: 30px;
  margin-bottom: 20px;
  
}
.banner .container p {
  color: #fefefe;
  margin: 0 50px;
  font-size: 20px;
}

.data-diri {
  /* border: 1px solid; */
  width: 100%;
}

.header-content {
  text-align: center;
  /* border: 1px solid; */
  padding: 20px 0;
  position: relative;
  color: #582f0e;
}
.header-content::after {
  content: '';
  display: block;
  background-color: #333d29;
  height: 5px;
  width: 50px;
  left: calc(50% - 25px);
  border-radius: 10px;
  position: absolute;
  bottom: 0;
}

.box {
  display: flex;
  margin: 15px 0;
}

.col-2 {
  /* border: 1px solid; */
  padding: 5px;
  width: 50%;
  min-height: 500px;
}

.table {
  /* border: 1px solid; */
  margin: 30px auto;
  
}

.box label{
  display: block;
  /* border: 1px solid; */
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  /* border: 1px solid; */
  font-weight: 900;
  color: #582f0e;
}

tr, td, th {
  /* border: 1px solid; */
  padding: 15px;
  color: #582f0e;
  margin: 10px;

}

.box-skill {
  /* border: 1px solid; */
  width: 100%;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  box-sizing: border-box;

}
.box-skill h3 {
  margin: 0 auto 5px auto;
  display: block;
  /* border: 1px solid; */
  width: 80%;
  color: #582f0e;
}

.input-control {
  min-height: 40px;
  max-height: 70px;
  width: 100%;
  font-size: 16px;
  padding-left: 5px;
  color: #582f0e;
  background-color: #b6ad90;
  outline: #582f0e;
  box-sizing: border-box;
}

.label {
  color: #582f0e;
  /* border: 1px solid; */
  text-align: center;
}

.btn {
  height: 40px;
  width: 70px;
  background-color: #333d29;
  color: white;
  border-radius: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: #414833;
  font-size: 14px;
  font-weight: 900;
  transition: .3s;
}

.col-2 .box-komentar {
  /* border: 1px solid; */
  padding: 5px;
  margin-bottom: 20px;  
  z-index: 9999;
}

.col-2 .box-komentar small{
  /* border: 1px solid; */
  color: #582f0e;
  padding: 8px;  
  float: right;
}

.scroll {
  overflow: scroll;
  text-overflow: none;
  max-height: 600px;
}

.box-komentar h3 {
  padding: 5px;
  color: #582f0e;
  /* border: 1px solid; */
}
.box-komentar p {
  padding: 10px;
  background-color: #a4ac86;
  color: #582f0e;
  border-radius: 10px;
  /* display: inline-block; */
}

.center {
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #582f0e;
  padding-top: 200px;
}


.footer {
  height: 50px;
  /* border: 1px solid; */
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #582f0e;
  padding-top: 30px;
  font-weight: bold;
  border-top: 3px solid #333d29;
}

.mobile-menu {
  display: none;
}
@media (max-width: 768px ) {

  .mobile-menu {
    display: block;
    float: right;
    align-items: center;
    padding: 13px;
  }

  .mobile-menu a {
    color: #c2c5aa;
  }


  .mobile-menu a:hover {
    color: white;
    transition: .3s;
  }

  header .container ul li {
    display: none;
  }

  .col-2 {
    width: 90%;
    display: block;
    margin: 10px auto;
    border: 1px solid #582f0e;

  }

  .col-2 label {
    text-decoration: underline;
  }
  .box {
    display: block;
  }


  .banner .container {
    border: none;
  }

  .box-komentar h3 {
    font-size: 14px;
  }
  .box-komentar p {
    font-size: 12px;
  }

  .banner {
    height: 450px;
    background-color: #656d4a;
    margin-bottom: 50px;
    box-sizing: border-box;
  }
  
  .banner .container img {
    width: 220px;
    height: auto;
    border-radius: 10px;
    box-shadow: 1px 4px 4px #a4ac86;
    margin: 50px 0 0 50px;
    
  }
  
  .banner .container h1 {
    color: #fefefe;
    margin: 50px 0 0 50px;
    font-size: 20px;
    margin-bottom: 20px;
    
  }
  .banner .container p {
    color: #fefefe;
    margin: 0 50px;
    font-size: 16px;
  }

  .input-control {
    min-width: 150px;
    font-size: 12px;
    display: inline-block;
    box-sizing: border-box;
  }
  
  .komentar td {
    padding: 0;
    margin: 0;
  }

  .komentar label {
    text-decoration: none;
  }
  
  .btn {
    margin-top: 20px;
  }
}
